@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  transition: all 140ms ease-in-out;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.text-shadow-black {
  text-shadow: 0.5px 0.5px 0 black, -0.5px -0.5px 0 black, 0.5px -0.5px 0 black,
    -0.5px 0.5px 0 black;
}

.accent-btn-bg {
  background: linear-gradient(to right, #ffe53b 0%, #ff2525 93%, #ff2525 100%);
}

.text-bg {
  background: linear-gradient(to right, #eb5d38 0%, #ffd600 50%, #ffd600 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  position: relative;
}

.text-bg::after {
  content: attr(data-text); /* the same text as the original element */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: white;
  text-shadow: 0.5px 0.5px 0px #fff, -0.5px -0.5px 0px #fff,
    0.5px -0.5px 0px #fff, -0.5px 0.5px 0px #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn {
    @apply text-white p-6 uppercase rounded-xl font-semibold md:text-3xl text-2xl md:hover:text-2xl hover:text-xl w-full sm:w-80 h-14 md:h-20 flex justify-center items-center;
  }
  .btn-accent {
    @apply accent-btn-bg hover:shadow-inner-shadow shadow-white;
  }
  .btn-default {
    @apply border border-white hover:bg-white hover:bg-opacity-20 hover:shadow-white-right;
  }
  .headers {
    @apply text-bg font-bold sm:text-7xl text-2xl uppercase text-center;
  }
}
